
footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #004AAD;
    text-align: center;
  }




/* footer{
    position: fixed;
    bottom: 0;
    height: 30px;
    max-width: 100%;
    background-color: #004AAD;
} */