.login-container {
  display: flex;
  margin-top: 20%;
}

.login {
  background-color: rgba(255, 255, 255, 0.685);
  text-align: center;
  flex: 1;
}

.loginTitle {
  color: hotpink;
  text-shadow: -1px -1px 0 #008fc1, 1px -1px 0 #008fc1, -1px 1px 0 #008fc1,
    1px 1px 0 #008fc1;
}

.submitButton {
  background-color: #008ec1;
  color: white;
  border: solid 2px navy;
  /* padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; */
}
.submitButton:hover {
  background-color: hotpink;
}

.signup {
  /* border: solid 2px navy; */
  text-align: center;
  color: white;
  background-color: #008ec1ce;
  flex: 1;
}

.hello {
  text-shadow: -1px -1px 0 hotpink, 1px -1px 0 hotpink, -1px 1px 0 hotpink,
    1px 1px 0 hotpink;
}

.signUpButton {
  background-color: white;
  color: navy;
  border: solid 2px hotpink;
  /* padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px; */
}
.signUpButton:hover {
  background-color: hotpink;
  color: white;
  border: solid 2px navy;
}

@media (min-width: 780px) {
  header {
    background-position-y: 150px;
  }
}
