
nav {
    background-color:#004AAD;
    height: 100px;
    line-height: 30px;
    font-family: 'ultra';
    font-weight: bold;
    padding-bottom: 0.75%;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    background-color:#004AAD;
    height: 60px;
    line-height: 30px;
}

nav .button-collapse i {
    background-color:#004AAD;
    height: 100px;
    line-height: 30px;
}

nav .brand-logo { 
    font-size: 32px; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        background-color:#004AAD;
        height: 100px;
        line-height: 30px;
    }
}







#navImage {
        vertical-align: middle;
      }


.sidenav{
    background-color:#008FC1;
     
}

ul{
    float: Left;
    position: relative;
    align-content: left;
}
